<html ng-app="myApp">

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script>
    // add the filter to your application module
var myApp = angular.module('myApp', ['filters']);

myApp.controller('MainController', ['$scope', function($scope) {
  $scope.splash = true;
  $scope.dataFilter = "";

  $scope.setFilter = function() {
    $scope.dataFilter = $scope.q;
  }
}]);

var formatSize = function (size) {
      if (isNaN(size))
        size = 0;

      if (size < 1024)
        return size + ' B';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(0) + ' K';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(0) + ' M';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(0) + ' G';

      size /= 1024;

      return size.toFixed(0) + ' T';
    };
/**
 * Filesize Filter
 * @Param length, default is 0
 * @return string
 */
angular.module('filters', [])
  .filter('Filesize', function () {
    return formatSize;
  });
    </script>
  <script type="text/javascript">

    var circos = function() {
      /* COMPUTE MATRIX */

      var matrix = [];
      var srcs = [];
      var domains = [];
      var largeFlows = [];


      for (var j=0;j<fs.length;j++) { 
          if (fs[j].bytes > 1000000) {
            var sidx = srcs.indexOf(fs[j].src);
            if (sidx < 0) {
              srcs.push(fs[j].src); 
              domains.push(fs[j].src_name);
              matrix.push([]);
            } 
            var didx = srcs.indexOf(fs[j].dst)
            if (didx < 0) {
              srcs.push(fs[j].dst); 
              domains.push(fs[j].dst_name);
              matrix.push([]);
            }
          }
      }
      
      for (var j=0; j<matrix.length; j++) {
        for (var k=0; k<matrix.length; k++) {
          matrix[j].push(0);
        }
      }
      for (var j=0;j<fs.length;j++) { 
          didx = srcs.indexOf(fs[j].dst); 
          sidx = srcs.indexOf(fs[j].src);
          if (sidx >= 0 && didx >=0) { 
            matrix[sidx][didx] = fs[j].bytes; 
          }
      } 
    

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    outerRadius = Math.min(width, height) * 0.5 - 90,
    innerRadius = outerRadius - 30;
svg.selectAll("*").remove();
var formatValue = d3.formatPrefix(",.0", 1e6);



var chord = d3.chord()
    .padAngle(0.025)
    .sortSubgroups(d3.descending);

var arc = d3.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius);

var ribbon = d3.ribbon()
    .radius(innerRadius);

var color = d3.scaleOrdinal(d3.schemeCategory20b);

var g = svg.append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
    .datum(chord(matrix));

var group = g.append("g")
    .attr("class", "groups")
  .selectAll("g")
    .data(function(chords) { return chords.groups; })
  .enter().append("g");

group.append("path")
    .style("fill", function(d) { return color(d.index); })
    .style("stroke", function(d) { return d3.rgb(color(d.index)).darker(); })
    .attr("d", arc);

group.append("text")
      .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
      .attr("dy", ".35em")
      .attr("transform", function(d) {
        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
            + "translate(" + (outerRadius + 10) + ")"
            + (d.angle > Math.PI ? "rotate(180)" : "");
      })
      .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
      .text(function(d) { return srcs[d.index]; });

group.append("text").filter(function(d) { return d.endAngle - d.startAngle > Math.PI/40;})
      .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2 - 0.035; })
      .attr("dy", ".35em")
      .attr("transform", function(d) {
        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
            + "translate(" + (outerRadius + 10) + ")"
            + (d.angle > Math.PI ? "rotate(180)" : "");
      })
      .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
      .style("font-weight", "bold")
      .text(function(d) { return formatSize(d.value); });

group.append("text").filter(function(d) { return d.endAngle - d.startAngle > Math.PI/40;})
      .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2 + 0.035; })
      .attr("dy", ".35em")
      .attr("transform", function(d) {
        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
            + "translate(" + (outerRadius + 10) + ")"
            + (d.angle > Math.PI ? "rotate(180)" : "");
      })
      .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
      .style("font-weight", "bold")
      .text(function(d) { return domains[d.index]; });


g.append("g")
    .attr("class", "ribbons")
  .selectAll("path")
    .data(function(chords) { return chords; })
  .enter().append("path")
    .attr("d", ribbon)
    .style("fill", function (d) { return color(d.target.index); } )
    .style("stroke", function(d) { return d3.rgb(color(d.target.index)).darker(); });

};

</script>
  <script>
    var flowsMap = new Map();
    var fs;
    var timeoutId;

    var ws = new WebSocket("ws://192.168.120.1:4201/");
    
    var showSplash = function(hide) {
      var scope = angular.element(document.querySelector("#body")).scope();
      scope.$apply(function () {
        scope.splash = hide;
      });
    }

    ws.onerror = function () {
      showSplash(true);
      window.setTimeout(function() { ws = new WebSocket("ws://192.168.120.1:4201/"); }, 10000);
    }

    ws.onopen = function () {
      showSplash(false);
    }

    ws.onclose = function () {
      showSplash(true);
    }

    ws.onmessage = function(event) {
      var newFlow = angular.fromJson(event.data);
      flowsMap.set(newFlow.src, newFlow);
      if (timeoutId) {
        window.clearTimeout(timeoutId);
      }
      timeoutId = window.setTimeout(calculateFlows, 5000);
    };

    var calculateFlows=function() {
      var scope = angular.element(document.querySelector("#flows")).scope();
      scope.$apply(function() {
        var newFlows = [];
        for (var f of flowsMap.values()) {
          for (var k=0; k<f.flows.length; k++) {
            var e = [];
            var dest = f.flows[k];
            e["src"] = f.src;
            e["src_name"] = f.domain;
            e["dst"] = dest.dst;
            e["dst_name"] = dest.domain;
            e["bytes"] = dest.bytes;
            newFlows.push(e);
          }; 
        };
        fs = newFlows;
        scope.flows = newFlows;
        circos();
      });
    };

    var runTest = function() {
      showSplash(false);
      calculateFlows();
    }
  </script>
</head>

<body id="body" ng-controller="MainController">
  <div id="logo"></div>
  <div id="splash" ng-show="splash">
    <span id="waitMsg"><h2>Waiting for MZ to start...</h2></span>
  </div>
  <button onclick="runTest();">Test</button>
  <div ng-hide="splash">
    <svg style="display: block;margin-right: auto; margin-left: auto;" width="800" height="800"></svg>
  </div>

  <div ng-hide="splash" style="background-color: #F2F2F2;padding: 5px;border-radius: 5px;margin-top: 50px;">
    <input type="search" ng-model="q" placeholder="filter..." />
    <button ng-click="setFilter()">Show</button>

    <table style="font-size: 0.9em; background-color: #DDDDDD; border-radius: 4px;" id="flows" ng-init='flows = []'>
      <thead>
        <th style="width:100px;">Source</th>
        <th style="width:200px;">Domain</th>
        <th style="width:100px;">Destination</th>
        <th style="width:200px;">Domain</th>
        <th style="width:50px;">Volume</th>
      </thead>
      <tbody>
        <tr ng-repeat="flow in flows | filter:dataFilter as results">
          <td>{{flow.src}}</td>
          <td>{{flow.src_name}}</td>
          <td>{{flow.dst}}</td>
          <td>{{flow.dst_name}}</td>
          <td>{{flow.bytes | Filesize}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="testData.js"></script>
</body>

</html>